## Proyecto Pandas 
##### Jacobo Maté

In [1]:
import numpy as np # Importamos paquetes
import pandas as pd

In [2]:
path = '../data/attacks.csv' # Importamos base de datos
data = pd.read_csv(path, encoding = "ISO-8859-1")

In [3]:
pd.set_option('display.max_columns', None)  # ver todas las columnas

pd.set_option('display.max_rows', None)     # ver todas las filas

In [4]:
data.head() # Mostramos la cabeza de los datos

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

#### ¿Qué podemos sacar de este head?
 * Tenemos varias columnas con título con mayúsculas y espacios, voy a cambiarlas todas a lower y hacer replace de espacios. Esto es útil de cara a más tarde poder usar punto en vez de corchetes y comillado al querer referirme a una columna

In [5]:
data.columns = [c.lower().replace(' ', '') for c in data.columns] # Paso a minúsculas y quito los espacios para poder usar puntos
data.columns

Index(['casenumber', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal(y/n)', 'time',
       'species', 'investigatororsource', 'pdf', 'hrefformula', 'href',
       'casenumber.1', 'casenumber.2', 'originalorder', 'unnamed:22',
       'unnamed:23'],
      dtype='object')

#### Limpieza | Ordenado datos `nans` y `duplicates`

In [6]:
data.info() # Procedemos a imprimir el tipo de datos con el que vamos a trabajar

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   casenumber            8702 non-null   object
 1   date                  6302 non-null   object
 2   year                  6300 non-null   float64
 3   type                  6298 non-null   object
 4   country               6252 non-null   object
 5   area                  5847 non-null   object
 6   location              5762 non-null   object
 7   activity              5758 non-null   object
 8   name                  6092 non-null   object
 9   sex                   5737 non-null   object
 10  age                   3471 non-null   object
 11  injury                6274 non-null   object
 12  fatal(y/n)            5763 non-null   object
 13  time                  2948 non-null   object
 14  species               3464 non-null   object
 15  investigatororsource  6285 non-null   object
 16  pdf                   6302 non-null   object
 17  hrefformula           6301 non-null   object
 18  href                  6302 non-null   object
 19  casenumber.1          6302 non-null   object
 20  casenumber.2          6302 non-null   object
 21  originalorder         6309 non-null   float64
 22  unnamed:22            1 non-null      object
 23  unnamed:23            2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [7]:
data.shape

(25723, 24)

Tenemos un total de 25723 filas y 24 columnas

#### ¿Qué podemos sacar ya del tipo de datos con los que vamos a trabajar?
* Tenemos un total de 22 columnas de tipo objeto - Serán cadenas de caracteres
* Tenemos dos columnas de tipo float - columnas `year` y `originalorder`
* Es raro que un año sea de tipo float -> No va a haber años float tipo 2023.5

In [8]:
# Queremos cambiar el tipo de dato de year a int.
# Para ello primero comprobamos si hay algun nan con any() - Sacamos la suma de nulos que hay en cada columna
data.isnull().sum()

casenumber              17021
date                    19421
year                    19423
type                    19425
country                 19471
area                    19876
location                19961
activity                19965
name                    19631
sex                     19986
age                     22252
injury                  19449
fatal(y/n)              19960
time                    22775
species                 22259
investigatororsource    19438
pdf                     19421
hrefformula             19422
href                    19421
casenumber.1            19421
casenumber.2            19421
originalorder           19414
unnamed:22              25722
unnamed:23              25721
dtype: int64

* En este output podemos ver la gran cantidad de valores nulos que hay. A simple vista se ve que mínimo hay 17000 nulos por columna. Coincide que en varias columnas hay exactamente 19421 nulos. 
* Partiendo de la hipótesis de que esos 19421 datos nulos van a concidir en fila con los otros, voy a decidir borrar dichas filas. 
* Para ello voy a tomar como número de nulos mas restrictivo el más pequeño 17021 - columna `casenumber` - sacaré los índices de dichas filas y borraré del database sus filas.

In [9]:
indices_malos = data[data.casenumber.isna() == True].index # Aquí usamos un filtro para almacenar en la variable indices_malos los indices de las filas de la columna casenumber que sean nulos
indices_malos

Index([ 5488,  8702,  8703,  8704,  8705,  8706,  8707,  8708,  8709,  8710,
       ...
       25712, 25713, 25714, 25715, 25716, 25717, 25718, 25719, 25720, 25721],
      dtype='int64', length=17021)

* Voy a revisar individualmente el caso del índice 5488 porque el resto parece que son seguidas e intuyo que el resto de valores tb sean nulos para ese rango 8702-25721

In [10]:
data[data.index == 5488]

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed:22,unnamed:23
5488,NaN,Reported 06-Sep-1905,1905.0,Provoked,USA,Florida,"Fort Pierce, St Lucie County",Fishing,David Curry,M,NaN,Lacerations to leg from hooked shark PROVOKED ...,N,NaN,NaN,"Muncie Evening Press, 8/6/1913",1905.09.06.R-Curry.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1905.09.06.R,1905.09.06.R,815.0,NaN,NaN

In [11]:
# Como si que hay datos para este ataque me lo voy a quedar. 
# Sí que voy a borrar los datos de las filas correspondientes al rango 8702-25721.

data.drop([i for i in range(8702,25721)],axis=0).shape

(8704, 24)

In [12]:
# Antes de aplicar el cambio veo que esté haciéndolo bien imprimiendo el shape. Hemos bajado las filas a 8704 así que bien -> Procedo con el inplace=True
data.drop([i for i in range(8702,25722)],axis=0,inplace=True)
data.shape

(8703, 24)

In [13]:
data.head()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed:22,unnamed:23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [14]:
data.isnull().sum()

casenumber                 1
date                    2401
year                    2403
type                    2405
country                 2451
area                    2856
location                2941
activity                2945
name                    2611
sex                     2966
age                     5232
injury                  2429
fatal(y/n)              2940
time                    5755
species                 5239
investigatororsource    2418
pdf                     2401
hrefformula             2402
href                    2401
casenumber.1            2401
casenumber.2            2401
originalorder           2394
unnamed:22              8702
unnamed:23              8701
dtype: int64

Volviendo al punto donde nos había extrañado que el tipo de `year` fuera float; si queremos cambiar el tipo de esta columna a int tendremos que cambiar los nans a un valor -> sino al aplicar el astype() nos saltará un error.

Para ello voy a proceder como antes: saco los indices de las filas donde se encuentren valores nulos en la columna `year` -> Exploro tabla para esos índices y si nada me indica lo contrario cambio ese nan a algo con lo que pueda trabajar

In [15]:
yearsnulos = data[data.year.isna() == True].index
yearsnulos

Index([  187,  6079,  6302,  6303,  6304,  6305,  6306,  6307,  6308,  6309,
       ...
        8693,  8694,  8695,  8696,  8697,  8698,  8699,  8700,  8701, 25722],
      dtype='int64', length=2403)

In [16]:
data.loc[yearsnulos].head(10)

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed:22,unnamed:23
187,2017.01.08.R,Reported 08-Jan-2017,NaN,Invalid,AUSTRALIA,Queensland,NaN,Spearfishing,Kerry Daniel,M,35,"No attack, shark made a threat display",NaN,NaN,Bull shark,Liquid Vision 1/8/2017,2017.01.08.R-KerryDaniel.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.01.08.R,2017.01.08.R,6116.0,NaN,NaN
6079,1836.08.19.R,Reported 19-Aug-1836,NaN,Unprovoked,ENGLAND,Cumberland,Whitehaven,Swimming,a boy,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",1835.08.19.R-Whitehaven.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1836.08.19.R,1836.08.19.R,224.0,NaN,NaN
6302,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0,NaN,NaN
6303,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6305.0,NaN,NaN
6304,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0,NaN,NaN
6305,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0,NaN,NaN
6306,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0,NaN,NaN
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
data.loc[yearsnulos].tail(10)

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed:22,unnamed:23
8693,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8694,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8695,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8696,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8697,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

* Vista la salida, intuyo que desde la fila 6303 hasta 8701 tenemos valores nulos en todas las columnas salvo en `originalorder`.
* Como de 6302 a 8701 hay 2400 filas y sabemos que en total hay 2403 nulos, podemos confirmar que ese rango lo podemos eliminar todo también.
* Si todos los valores son nulos menos una columna tampoco me sirven de mucho -> Puedo hacer un último checkeo para comprobar que mi hipótesis sea verdadera y que no me esté fumando datos correctos por ahí enmedio.

In [18]:
data.drop([i for i in range(6303,8701)],axis=0).shape

(6305, 24)

In [19]:
data.drop([i for i in range(6303,8701)],axis=0, inplace=True)
data.shape

(6305, 24)

In [20]:
data.head()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed:22,unnamed:23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [21]:
# Hacemos también un tail por si queda alguna fila nan al final del databse:
data.tail(10)

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed:22,unnamed:23
6295,ND.0007,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,FATAL,Y,NaN,Blue pointers,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0007 - Fisherman-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0007,ND.0007,8.0,NaN,NaN
6296,ND.0006,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,NaN,FATAL,Y,NaN,Said to involve a grey nurse shark that leapt ...,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",ND-0006-ArabBoy-Prymount.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0006,ND.0006,7.0,NaN,NaN
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN
6302,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# Borramos también esas tres filas de nans enteras:
data.drop([6302,8701,25722],axis=0, inplace=True)

In [23]:
data.shape

(6302, 24)

In [24]:
data.isnull().sum()

casenumber                 1
date                       0
year                       2
type                       4
country                   50
area                     455
location                 540
activity                 544
name                     210
sex                      565
age                     2831
injury                    28
fatal(y/n)               539
time                    3354
species                 2838
investigatororsource      17
pdf                        0
hrefformula                1
href                       0
casenumber.1               0
casenumber.2               0
originalorder              0
unnamed:22              6301
unnamed:23              6300
dtype: int64

* Después de borrar los nans del paso anterior vuelvo a mostrar la suma de estos.
* A partir de aquí no vamos a quitar más filas xq entendemos que los valores nulos serán por falta de información - no siempre se sabrá especie de tiburón, edad, actividad que estaba practicando la víctima...
* Ahora todo lo que sea nan lo vamos a pasar a unknown utilizando el fillna()

In [25]:
data.fillna('unknown').tail()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed:22,unnamed:23
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,unknown,FATAL,Y,unknown,unknown,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,unknown,unknown
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,unknown,Pearl diving,Ahmun,M,unknown,FATAL,Y,unknown,unknown,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,unknown,unknown
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,unknown,FATAL,Y,unknown,unknown,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,unknown,unknown
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,unknown,"Panama Bay 8ºN, 79ºW",unknown,Jules Patterson,M,unknown,FATAL,Y,unknown,unknown,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,unknown,unknown
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,unknown,unknown,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,unknown,unknown

* Nos falta hacer comprobar si hay duplicados - procedemos a ello

In [26]:
data.drop_duplicates(inplace=True)

In [27]:
data.shape

(6302, 24)

Tenemos la misma dimensión de filas por lo que asumimos que no había duplicados.

In [28]:
data.head()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed:22,unnamed:23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [29]:
# Hago una copia de la base de datos para tener un chackpoint al que poder volver:
dc = data.copy() # dc por data clean

In [30]:
dc.shape

(6302, 24)

In [31]:
dc.head()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed:22,unnamed:23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

#### Limpieza | Ordenado columnas `type` y `activity`

* Voy a continuar el estudio por obteniendo los valores únicos de la columna type. Ya que no se incluye una descripción de estos datos en la fuente de la base de datos vamos a ver qué tipos de detalles se incluyen en esta columna y si estos difieren mucho de un suceso a otro.

In [32]:
dc.type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [33]:
dc.type.value_counts()

type
Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: count, dtype: int64

In [34]:
# Vamos a cambiar la de tipo 'Boatomg' por tipo Boating ya que creo se trata de una errata
ind_errata = dc[dc.type == 'Boatomg'].index
ind_errata

Index([1152], dtype='int64')

In [35]:
# Cambiamos el dato de type del indice 1152 por Boating
dc.type[dc.index==1152] = 'Boating'

C:\Users\jacom\AppData\Local\Temp\ipykernel_7860\1426339824.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dc.type[dc.index==1152] = 'Boating'

In [36]:
dc[dc.index == 1152]

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed:22,unnamed:23
1152,2009.03.01.b,01-Mar-2009,2009.0,Boating,NEW ZEALAND,North Island,Taranaki,Fishing,"boat, occupants: Boyd Rutherford & Hamish Roper",M,NaN,"No injury to occupants, shark bit propeller",N,NaN,NaN,"Taranaki Daily News, 3/3/2009",2009.03.01-Taranaki.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2009.03.01.b,2009.03.01.b,5151.0,NaN,NaN

In [37]:
dc.type.value_counts()

type
Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          204
Boat             137
Questionable       2
Name: count, dtype: int64

In [38]:
# También vamos a meter en una sola categoría los datos de boating y boat -> Boating
ind_boat = dc[dc.type == 'Boat'].index
ind_boat

Index([ 538,  565,  706,  818,  864,  956,  971, 1164, 1168, 1174,
       ...
       4188, 4214, 4242, 6070, 6087, 6127, 6136, 6145, 6212, 6274],
      dtype='int64', length=137)

In [39]:
# Cambiamos el dato de type del indice 1152 por Boating
dc.type.loc[ind_boat] = 'Boating'

C:\Users\jacom\AppData\Local\Temp\ipykernel_7860\4105221077.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dc.type.loc[ind_boat] = 'Boating'

In [40]:
dc.type.value_counts()

type
Unprovoked      4595
Provoked         574
Invalid          547
Boating          341
Sea Disaster     239
Questionable       2
Name: count, dtype: int64

In [41]:
dc.head()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed:22,unnamed:23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

+ Dado que es la víctima la que decide si el ataque ha sido provocado o no, en mi opinión es un valor que no debería tenerse en cuenta ya que me parece totalmente sesgado.
* Seguimos con la actividad que practicaba la víctima del ataque

In [42]:
actividades = pd.DataFrame(dc.activity.value_counts())

In [43]:
actividades.shape

(1532, 1)

In [44]:
actividades.head(50)

                                count
activity
Surfing                           971
Swimming                          869
Fishing                           431
Spearfishing                      333
Bathing                           162
Wading                            149
Diving                            127
Standing                           99
Snorkeling                         89
Scuba diving                       76
Body boarding                      61
Body surfing                       49
Swimming                           47
Kayaking                           33
Treading water                     32
Pearl diving                       32
Fell overboard                     32
Free diving                        29
Boogie boarding                    29
Windsurfing                        19
Walking                            17
Boogie Boarding                    16
Shark fishing                      15
Floating                           14
Fishing                            13
Canoeing                           13
Surf skiing                        12
Surf fishing                       12
Surf-skiing                        12
Rowing                             12
Fishing for sharks                 11
Kayak Fishing                      11
Scuba Diving                       10
Freediving                         10
Sponge diving                      10
Fell into the water                 9
Sailing                             9
Sitting on surfboard                9
Diving for trochus                  9
Paddle boarding                     8
Sea disaster                        8
Diving for abalone                  7
Free diving for abalone             7
Skindiving                          7
Playing                             7
Surf skiing                         7
Surfing (sitting on his board)      7
Boating                             7
Floating on his back                7
Spearfishing                        7

Podemos ver que hay 1532 actividades diferentes - sin embargo muchas de ellas se podrian abarcar bajo campos parecidos

Algunos grandes campos pueden ser los siguientes:
* Fishing
* Swimming
* Surfing (any kind of board sport)
* Diving

Voy a llevar a cabo un estudio y actualizado de campos utilizando regex.

In [45]:
import re # Importo paquete regex

# Defino una función que  busque los caracteres clave en la cadena de entrada
def busca_swim(cadena):

    patron = r'swim' # Defino un patrón de busqueda

    resultado = re.search(patron, cadena, re.IGNORECASE)

    if resultado: # Si el resultado no está vacío quiere decir que lo ha encontrado
        return 'Swimming'
    else:
        return cadena # En caso de que no la encuentre se devuelve cadena original

In [46]:
res = busca_swim('SWImidning in da pool') # Compruebo que funcione
print(res)

Swimming

In [47]:
res = busca_swim('cadena sin palabra')
print(res)

cadena sin palabra

In [48]:
# Ahora voy a hacer esta función exactamente igual para los otros casos de diving, fishing y surfing

In [49]:
# Defino una función que  busque los caracteres clave en la cadena de entrada
def busca_dive(cadena):

    cadena = cadena.lower()

    patron = r'div' # Defino un patrón de busqueda

    resultado = re.search(patron, cadena)

    if resultado: # Si el resultado no está vacío quiere decir que lo ha encontrado
        return 'Diving'
    else:
        return cadena # En caso de que no la encuentre se devuelve cadena original

In [50]:
# Defino una función que  busque los caracteres clave en la cadena de entrada
def busca_fish(cadena):

    cadena = cadena.lower()

    patron = r'fish' # Defino un patrón de busqueda

    resultado = re.search(patron, cadena)

    if resultado: # Si el resultado no está vacío quiere decir que lo ha encontrado
        return 'Fishing'
    else:
        return cadena # En caso de que no la encuentre se devuelve cadena original

In [51]:
# Defino una función que  busque los caracteres clave en la cadena de entrada
def busca_surf(cadena):

    cadena = cadena.lower()

    patron = r'surf' # Defino un patrón de busqueda

    resultado = re.search(patron, cadena)

    if resultado: # Si el resultado no está vacío quiere decir que lo ha encontrado
        return 'Surfing'
    else:
        return cadena # En caso de que no la encuentre se devuelve cadena original

In [52]:
# Defino una función que  busque los caracteres clave en la cadena de entrada
def busca_over(cadena):

    cadena = cadena.lower()

    patron = r'over' # Defino un patrón de busqueda

    resultado = re.search(patron, cadena)

    if resultado: # Si el resultado no está vacío quiere decir que lo ha encontrado
        return 'Overboard or capsized'
    else:
        return cadena # En caso de que no la encuentre se devuelve cadena original

In [53]:
# Defino una función que  busque los caracteres clave en la cadena de entrada
def busca_board(cadena): # Las actividades que sean de tipo board las voy a meter en surfing también

    cadena = cadena.lower()

    patron = r'board' # Defino un patrón de busqueda

    resultado = re.search(patron, cadena)

    if resultado: # Si el resultado no está vacío quiere decir que lo ha encontrado
        return 'Surfing'
    else:
        return cadena # En caso de que no la encuentre se devuelve cadena original

Procedo a aplicar las 4 fórmulas que he definido a la columna `activity` con el formato apply

In [54]:
dc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6302 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   casenumber            6301 non-null   object
 1   date                  6302 non-null   object
 2   year                  6300 non-null   float64
 3   type                  6298 non-null   object
 4   country               6252 non-null   object
 5   area                  5847 non-null   object
 6   location              5762 non-null   object
 7   activity              5758 non-null   object
 8   name                  6092 non-null   object
 9   sex                   5737 non-null   object
 10  age                   3471 non-null   object
 11  injury                6274 non-null   object
 12  fatal(y/n)            5763 non-null   object
 13  time                  2948 non-null   object
 14  species               3464 non-null   object
 15  investigatororsource  6285 non-null   object
 16  pdf                   6302 non-null   object
 17  hrefformula           6301 non-null   object
 18  href                  6302 non-null   object
 19  casenumber.1          6302 non-null   object
 20  casenumber.2          6302 non-null   object
 21  originalorder         6302 non-null   float64
 22  unnamed:22            1 non-null      object
 23  unnamed:23            2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.3+ MB

In [55]:
dc.activity = dc.activity.astype(str)

In [56]:
# Procedo a aplicar las 4 fórmulas a la columna activity del dataframe
dc.activity = dc.activity.apply(busca_swim)
dc.activity = dc.activity.apply(busca_dive)
dc.activity = dc.activity.apply(busca_surf)
dc.activity = dc.activity.apply(busca_fish)
dc.activity = dc.activity.apply(busca_over) # Llamo primero a esta función para quitarme los overboard antes de los deportes de tabla
dc.activity = dc.activity.apply(busca_board)

In [57]:
actividades_limpia = pd.DataFrame(dc.activity.value_counts())
actividades_limpia.head(150)

                                                    count
activity
surfing                                              1219
fishing                                              1125
swimming                                             1123
diving                                                600
nan                                                   544
Surfing                                               279
bathing                                               162
wading                                                149
standing                                               99
snorkeling                                             89
kayaking                                               33
treading water                                         32
walking                                                17
floating                                               14
canoeing                                               14
sea disaster                                           14
rowing                                                 12
sailing                                                 9
fell into the water                                     9
floating on his back                                    7
playing                                                 7
boating                                                 7
shipwreck                                               6
murder                                                  6
dangling feet in the water                              5
paddleskiing                                            5
boat                                                    5
boat capsized                                           4
jumping                                                 4
splashing                                               4
seine netting                                           4
jumped into the water                                   4
tagging sharks                                          4
boat swamped                                            4
air disaster                                            4
lifesaving drill                                        4
feeding sharks                                          4
clamming                                                4
floating on a raft                                      3
unknown                                                 3
wreck of the schooner pohoiki                           3
standing in knee-deep water                             3
escaping from alacatraz                                 3
sculling                                                3
competing in the woodvale atlantic rowing race          3
crabbing                                                3
shark watching                                          3
paddling                                                3
sitting on gunwale of boat                              3
suicide                                                 3
sup                                                     3
bathing                                                 3
their 9 m launch was run down by a 25,000-ton j...      3
.                                                       3
rowing                                                  2
sitting in shallows                                     2
shark tagging                                           2
floating in inner tube                                  2
netting shrimp                                          2
aircraft crashed into sea                               2
collecting shells                                       2
shooting sharks                                         2
beach seine netting                                     2
boat with 5 men capsized while returning to the...      2
bathing in river                                        2
floating on back                                        2
hmas parramatta torpedoed & sunk by the u-559           2
standing                                                2
the christie v sank on 11/6/1988, survivors wer...      2
splashing                                               2
washing                                                 2
finning the shark that bit him                          2
cruising                                                2
standing in waist-deep water                            2
ocean racing                                            2
transatlantic rowing                                    2
washing his feet                                        2
sitting in the water                                    2
playing in the water                                    2
teasing a shark                                         2
s2n navy scout plane went down, e.h. almond & l...      2
u.s. airforce c124 enroute from hickham air bas...      2
kayaking                                                2
attempting to kill a shark with explosives              2
jet skiing                                              2
known as the battle of the bismarck sea :  8 ja...      1
sea disaster, wreck of the  ss norwich city             1
removing shark from a trap                              1
retrieving meat from a cage in the water                1
fell from wharf into water & attacked immediately       1
sea disaster, sinking of the  ss vestris                1
catching a turtle                                       1
the steamer tahiti collided with the ferry grey...      1
italian liner principessa mafalda sank                  1
riding horseback across the creek                       1
on expedition filming a feature movie & standin...      1
standing on his hands                                   1
hurricane & tidal wave                                  1
feeling the sharks teeth                               1
yacht of michael howell capsized                        1
sitting in 3' of water                                  1
leicester abandoned in a hurricane                      1
splashing in water                                      1
hauling in net with shark in it                         1
put foot inside mouth of supposedly dead shark          1
bathing or washing                                      1
disappeared 11 days earlier, probable homicide ...      1
spearing a shark                                        1
put foot inside a landed & supposedly dead shark        1
c47 aircraft carrying 5,000 lbs of ice ditched ...      1
touching the mouth of a supposedly dead shark           1
standing, collecting bananas                            1
british patrol boat 1250-ton hms  valerian foun...      1
treading water, waiting for a wave                      1
bathing in knee-deep water                              1
survived crash of two-engine  c-46 transport pl...      1
knocked into the water                                  1
sitting on side of dinghy mending a net                 1
sitting in a boat                                       1
defecating in water beneath the docks                   1
floating face down                                      1
harpooned shark                                         1
sea disaster, sinking of the motorship wingate          1
lying on the bottom of a 16' dinghy                     1
the coastwise steamer san basilio capsized in a...      1
no details                                              1
wading to dinghy, carrying his son                      1
fell from his father's back into the water              1
bathing in 3' to 4' of water                            1
attempting to rescue drowning man                       1
seaplane columbus ditched in the sea                    1
dismantling cable buoys of the cable ship all a...      1
dry shelling                                            1
examining netted shark, that had been shot              1
bathing in 5' of water                                  1
bathing in water 0.9 m deep                             1
floating, after falling or jumping off the stan...      1
removing shark from a net                               1
inebriated, woke from sleep and fell off deck i...      1
lifesaving exhibition                                   1
bathing in waist-deep water                             1
jumped out of canoe                                     1
wreck of a sampam                                       1
among 31 survivors of crew from the sampan fuku...      1
tzenny chandris, a greek freighter laden with s...      1
holding shark's tail                                    1
japanese aircraft shot down. he was one of two ...      1
days before the surrender of singapore, the 3 m...      1
ditched plane in the sea & were adrift on a rub...      1
adrift on raft                                          1

In [58]:
actividades_new = pd.DataFrame(dc.activity.value_counts())
actividades_new.shape

(642, 1)

Hemos conseguido bajar el tipo de actividades a 1/3 de la cantidad original.

In [65]:
dc.head(10)

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed:22,unnamed:23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
5,2018.06.03.b,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",surfing,Chris,M,NaN,"No injury, board bitten",N,NaN,NaN,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.b,2018.06.03.b,6298.0,NaN,NaN
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",swimming,Jose Ernesto da Silva,M,18,FATAL,Y,Late afternoon,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,NaN,NaN
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",fishing,male,M,52,Minor injury to foot. PROVOKED INCIDENT,N,NaN,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0,NaN,NaN
8,2018.05.26.b,26-May-2018,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",walking,Cody High,M,15,Lower left leg bitten,N,17h00,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0,NaN,NaN
9,2018.05.26.a,26-May-2018,2018.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",standing,male,M,12,Minor injury to foot,N,14h00,NaN,"K. McMurray, Tracking Sharks.com",2018.05.26.a-DaytonaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.a,2018.05.26.a,6294.0,NaN,NaN

#### Limpieza columna `species`
Vamos a cambiar los valores nan de la columna por unkonwn

In [66]:
dc.species[dc.species.isna()] # Empezamos mostrando los valores nulos que hay en la columna

1       NaN
2       NaN
5       NaN
9       NaN
11      NaN
12      NaN
15      NaN
17      NaN
19      NaN
27      NaN
28      NaN
29      NaN
41      NaN
54      NaN
61      NaN
62      NaN
67      NaN
68      NaN
69      NaN
70      NaN
81      NaN
83      NaN
84      NaN
85      NaN
88      NaN
90      NaN
91      NaN
92      NaN
94      NaN
95      NaN
97      NaN
99      NaN
106     NaN
108     NaN
109     NaN
110     NaN
111     NaN
119     NaN
126     NaN
127     NaN
130     NaN
131     NaN
132     NaN
135     NaN
141     NaN
142     NaN
144     NaN
146     NaN
147     NaN
148     NaN
149     NaN
150     NaN
152     NaN
154     NaN
157     NaN
158     NaN
160     NaN
161     NaN
162     NaN
163     NaN
164     NaN
165     NaN
167     NaN
168     NaN
173     NaN
174     NaN
175     NaN
176     NaN
181     NaN
182     NaN
184     NaN
185     NaN
188     NaN
190     NaN
193     NaN
194     NaN
200     NaN
201     NaN
202     NaN
204     NaN
205     NaN
207     NaN
208     NaN
209     NaN
210     NaN
212     NaN
213     NaN
214     NaN
215     NaN
216     NaN
218     NaN
221     NaN
222     NaN
223     NaN
224     NaN
228     NaN
230     NaN
231     NaN
235     NaN
238     NaN
239     NaN
240     NaN
244     NaN
245     NaN
247     NaN
253     NaN
256     NaN
260     NaN
266     NaN
272     NaN
274     NaN
276     NaN
279     NaN
282     NaN
291     NaN
292     NaN
293     NaN
295     NaN
298     NaN
299     NaN
300     NaN
303     NaN
304     NaN
305     NaN
308     NaN
309     NaN
311     NaN
313     NaN
325     NaN
328     NaN
330     NaN
331     NaN
335     NaN
337     NaN
338     NaN
339     NaN
343     NaN
347     NaN
349     NaN
350     NaN
351     NaN
355     NaN
360     NaN
362     NaN
363     NaN
374     NaN
381     NaN
382     NaN
394     NaN
398     NaN
406     NaN
410     NaN
411     NaN
419     NaN
420     NaN
422     NaN
426     NaN
429     NaN
435     NaN
443     NaN
444     NaN
453     NaN
454     NaN
471     NaN
472     NaN
473     NaN
478     NaN
479     NaN
481     NaN
483     NaN
484     NaN
488     NaN
489     NaN
491     NaN
497     NaN
504     NaN
508     NaN
511     NaN
516     NaN
518     NaN
521     NaN
522     NaN
523     NaN
528     NaN
533     NaN
534     NaN
536     NaN
540     NaN
541     NaN
543     NaN
546     NaN
547     NaN
549     NaN
554     NaN
556     NaN
563     NaN
564     NaN
567     NaN
568     NaN
573     NaN
574     NaN
575     NaN
581     NaN
582     NaN
583     NaN
587     NaN
592     NaN
596     NaN
598     NaN
602     NaN
603     NaN
604     NaN
617     NaN
618     NaN
619     NaN
620     NaN
621     NaN
624     NaN
627     NaN
629     NaN
635     NaN
636     NaN
637     NaN
640     NaN
644     NaN
645     NaN
647     NaN
650     NaN
651     NaN
652     NaN
653     NaN
654     NaN
655     NaN
656     NaN
658     NaN
659     NaN
665     NaN
666     NaN
667     NaN
672     NaN
673     NaN
674     NaN
685     NaN
687     NaN
691     NaN
693     NaN
695     NaN
699     NaN
705     NaN
707     NaN
708     NaN
711     NaN
712     NaN
729     NaN
730     NaN
733     NaN
734     NaN
738     NaN
740     NaN
741     NaN
742     NaN
743     NaN
744     NaN
745     NaN
750     NaN
751     NaN
752     NaN
757     NaN
759     NaN
762     NaN
763     NaN
766     NaN
767     NaN
768     NaN
773     NaN
775     NaN
776     NaN
779     NaN
788     NaN
789     NaN
794     NaN
796     NaN
804     NaN
810     NaN
812     NaN
814     NaN
815     NaN
819     NaN
829     NaN
831     NaN
832     NaN
834     NaN
838     NaN
840     NaN
841     NaN
844     NaN
845     NaN
846     NaN
855     NaN
857     NaN
858     NaN
860     NaN
863     NaN
864     NaN
865     NaN
866     NaN
868     NaN
870     NaN
875     NaN
876     NaN
877     NaN
878     NaN
880     NaN
885     NaN
888     NaN
889     NaN
891     NaN
892     NaN
894     NaN
895     NaN
896     NaN
897     NaN
898     NaN
899     NaN
900     NaN
901     NaN
902     NaN
903     NaN
907     NaN
909     NaN
910     NaN
913     NaN
917     NaN
922     NaN
924     NaN
927     NaN
933     NaN
937     NaN
938     NaN
940     NaN
941     NaN
944     NaN
947     NaN
948     NaN
949     NaN
951     NaN
954     NaN
955     NaN
958     NaN
959     NaN
961     NaN
966     NaN
968     NaN
969     NaN
970     NaN
973     NaN
974     NaN
975     NaN
977     NaN
979     NaN
983     NaN
985     NaN
989     NaN
990     NaN
991     NaN
992     NaN
993     NaN
995     NaN
998     NaN
999     NaN
1000    NaN
1001    NaN
1007    NaN
1012    NaN
1014    NaN
1019    NaN
1020    NaN
1023    NaN
1024    NaN
1028    NaN
1029    NaN
1038    NaN
1045    NaN
1048    NaN
1049    NaN
1050    NaN
1053    NaN
1054    NaN
1055    NaN
1056    NaN
1057    NaN
1058    NaN
1059    NaN
1061    NaN
1063    NaN
1066    NaN
1072    NaN
1073    NaN
1076    NaN
1079    NaN
1080    NaN
1082    NaN
1085    NaN
1088    NaN
1089    NaN
1090    NaN
1092    NaN
1094    NaN
1099    NaN
1103    NaN
1104    NaN
1105    NaN
1106    NaN
1108    NaN
1109    NaN
1110    NaN
1113    NaN
1114    NaN
1130    NaN
1131    NaN
1132    NaN
1133    NaN
1134    NaN
1140    NaN
1142    NaN
1144    NaN
1145    NaN
1150    NaN
1152    NaN
1154    NaN
1155    NaN
1158    NaN
1160    NaN
1161    NaN
1164    NaN
1165    NaN
1169    NaN
1175    NaN
1180    NaN
1189    NaN
1190    NaN
1192    NaN
1193    NaN
1197    NaN
1198    NaN
1200    NaN
1207    NaN
1208    NaN
1210    NaN
1211    NaN
1214    NaN
1216    NaN
1218    NaN
1221    NaN
1228    NaN
1229    NaN
1232    NaN
1236    NaN
1237    NaN
1238    NaN
1244    NaN
1246    NaN
1248    NaN
1249    NaN
1250    NaN
1254    NaN
1258    NaN
1261    NaN
1262    NaN
1265    NaN
1267    NaN
1269    NaN
1275    NaN
1277    NaN
1279    NaN
1280    NaN
1284    NaN
1288    NaN
1289    NaN
1306    NaN
1309    NaN
1320    NaN
1321    NaN
1330    NaN
1333    NaN
1334    NaN
1335    NaN
1344    NaN
1346    NaN
1349    NaN
1350    NaN
1351    NaN
1353    NaN
1354    NaN
1364    NaN
1368    NaN
1373    NaN
1374    NaN
1384    NaN
1391    NaN
1393    NaN
1394    NaN
1399    NaN
1402    NaN
1403    NaN
1417    NaN
1421    NaN
1422    NaN
1425    NaN
1426    NaN
1428    NaN
1430    NaN
1434    NaN
1436    NaN
1438    NaN
1440    NaN
1443    NaN
1444    NaN
1447    NaN
1452    NaN
1459    NaN
1461    NaN
1462    NaN
1464    NaN
1467    NaN
1468    NaN
1469    NaN
1471    NaN
1472    NaN
1478    NaN
1480    NaN
1482    NaN
1483    NaN
1486    NaN
1487    NaN
1492    NaN
1500    NaN
1501    NaN
1507    NaN
1508    NaN
1509    NaN
1520    NaN
1524    NaN
1525    NaN
1527    NaN
1531    NaN
1538    NaN
1541    NaN
1542    NaN
1549    NaN
1550    NaN
1553    NaN
1559    NaN
1562    NaN
1564    NaN
1565    NaN
1572    NaN
1576    NaN
1580    NaN
1583    NaN
1590    NaN
1593    NaN
1598    NaN
1602    NaN
1603    NaN
1608    NaN
1613    NaN
1625    NaN
1635    NaN
1636    NaN
1640    NaN
1642    NaN
1647    NaN
1649    NaN
1651    NaN
1662    NaN
1669    NaN
1671    NaN
1672    NaN
1675    NaN
1683    NaN
1688    NaN
1693    NaN
1695    NaN
1697    NaN
1708    NaN
1709    NaN
1712    NaN
1713    NaN
1714    NaN
1720    NaN
1723    NaN
1728    NaN
1732    NaN
1733    NaN
1734    NaN
1735    NaN
1737    NaN
1738    NaN
1739    NaN
1740    NaN
1741    NaN
1748    NaN
1753    NaN
1754    NaN
1755    NaN
1761    NaN
1765    NaN
1770    NaN
1772    NaN
1776    NaN
1778    NaN
1779    NaN
1781    NaN
1791    NaN
1807    NaN
1814    NaN
1817    NaN
1822    NaN
1829    NaN
1834    NaN
1837    NaN
1842    NaN
1846    NaN
1847    NaN
1849    NaN
1850    NaN
1854    NaN
1859    NaN
1861    NaN
1863    NaN
1864    NaN
1868    NaN
1869    NaN
1875    NaN
1880    NaN
1882    NaN
1885    NaN
1887    NaN
1890    NaN
1892    NaN
1893    NaN
1899    NaN
1902    NaN
1904    NaN
1905    NaN
1912    NaN
1913    NaN
1914    NaN
1915    NaN
1917    NaN
1918    NaN
1919    NaN
1920    NaN
1926    NaN
1927    NaN
1928    NaN
1929    NaN
1930    NaN
1933    NaN
1935    NaN
1937    NaN
1938    NaN
1943    NaN
1945    NaN
1946    NaN
1949    NaN
1951    NaN
1952    NaN
1953    NaN
1955    NaN
1956    NaN
1961    NaN
1967    NaN
1969    NaN
1972    NaN
1982    NaN
1987    NaN
1996    NaN
1998    NaN
2001    NaN
2002    NaN
2008    NaN
2009    NaN
2010    NaN
2012    NaN
2021    NaN
2028    NaN
2030    NaN
2032    NaN
2033    NaN
2034    NaN
2036    NaN
2037    NaN
2040    NaN
2045    NaN
2047    NaN
2052    NaN
2056    NaN
2057    NaN
2058    NaN
2059    NaN
2060    NaN
2067    NaN
2069    NaN
2071    NaN
2074    NaN
2076    NaN
2077    NaN
2085    NaN
2086    NaN
2093    NaN
2094    NaN
2097    NaN
2101    NaN
2104    NaN
2106    NaN
2108    NaN
2116    NaN
2121    NaN
2127    NaN
2129    NaN
2130    NaN
2133    NaN
2140    NaN
2145    NaN
2146    NaN
2148    NaN
2149    NaN
2156    NaN
2157    NaN
2158    NaN
2159    NaN
2160    NaN
2161    NaN
2162    NaN
2163    NaN
2164    NaN
2176    NaN
2177    NaN
2183    NaN
2184    NaN
2185    NaN
2190    NaN
2195    NaN
2196    NaN
2197    NaN
2203    NaN
2204    NaN
2205    NaN
2207    NaN
2208    NaN
2211    NaN
2213    NaN
2215    NaN
2222    NaN
2223    NaN
2224    NaN
2226    NaN
2227    NaN
2228    NaN
2232    NaN
2233    NaN
2235    NaN
2236    NaN
2241    NaN
2243    NaN
2246    NaN
2250    NaN
2256    NaN
2260    NaN
2261    NaN
2262    NaN
2267    NaN
2269    NaN
2270    NaN
2272    NaN
2273    NaN
2274    NaN
2275    NaN
2279    NaN
2280    NaN
2283    NaN
2284    NaN
2290    NaN
2294    NaN
2295    NaN
2296    NaN
2298    NaN
2299    NaN
2301    NaN
2305    NaN
2307    NaN
2310    NaN
2315    NaN
2316    NaN
2317    NaN
2318    NaN
2323    NaN
2328    NaN
2331    NaN
2332    NaN
2333    NaN
2334    NaN
2338    NaN
2341    NaN
2342    NaN
2348    NaN
2349    NaN
2359    NaN
2364    NaN
2365    NaN
2366    NaN
2367    NaN
2368    NaN
2369    NaN
2370    NaN
2371    NaN
2372    NaN
2373    NaN
2375    NaN
2379    NaN
2385    NaN
2388    NaN
2391    NaN
2394    NaN
2396    NaN
2398    NaN
2404    NaN
2406    NaN
2407    NaN
2408    NaN
2409    NaN
2412    NaN
2415    NaN
2416    NaN
2417    NaN
2419    NaN
2420    NaN
2422    NaN
2424    NaN
2425    NaN
2426    NaN
2430    NaN
2433    NaN
2437    NaN
2442    NaN
2450    NaN
2452    NaN
2453    NaN
2455    NaN
2460    NaN
2462    NaN
2464    NaN
2465    NaN
2470    NaN
2473    NaN
2475    NaN
2478    NaN
2479    NaN
2484    NaN
2488    NaN
2489    NaN
2490    NaN
2491    NaN
2495    NaN
2497    NaN
2498    NaN
2500    NaN
2501    NaN
2505    NaN
2506    NaN
2509    NaN
2514    NaN
2515    NaN
2525    NaN
2530    NaN
2532    NaN
2534    NaN
2535    NaN
2536    NaN
2545    NaN
2546    NaN
2547    NaN
2549    NaN
2554    NaN
2560    NaN
2570    NaN
2572    NaN
2590    NaN
2594    NaN
2595    NaN
2596    NaN
2608    NaN
2616    NaN
2617    NaN
2618    NaN
2627    NaN
2628    NaN
2629    NaN
2630    NaN
2639    NaN
2642    NaN
2643    NaN
2646    NaN
2648    NaN
2649    NaN
2656    NaN
2672    NaN
2676    NaN
2677    NaN
2679    NaN
2684    NaN
2688    NaN
2689    NaN
2693    NaN
2698    NaN
2699    NaN
2702    NaN
2704    NaN
2705    NaN
2706    NaN
2712    NaN
2718    NaN
2719    NaN
2724    NaN
2725    NaN
2727    NaN
2731    NaN
2733    NaN
2734    NaN
2735    NaN
2736    NaN
2738    NaN
2740    NaN
2741    NaN
2743    NaN
2744    NaN
2746    NaN
2758    NaN
2761    NaN
2775    NaN
2779    NaN
2780    NaN
2782    NaN
2783    NaN
2788    NaN
2790    NaN
2796    NaN
2800    NaN
2801    NaN
2802    NaN
2806    NaN
2809    NaN
2810    NaN
2811    NaN
2814    NaN
2819    NaN
2820    NaN
2826    NaN
2832    NaN
2836    NaN
2846    NaN
2850    NaN
2856    NaN
2859    NaN
2867    NaN
2879    NaN
2880    NaN
2882    NaN
2887    NaN
2888    NaN
2891    NaN
2895    NaN
2896    NaN
2898    NaN
2900    NaN
2906    NaN
2908    NaN
2910    NaN
2912    NaN
2920    NaN
2926    NaN
2932    NaN
2933    NaN
2934    NaN
2935    NaN
2936    NaN
2941    NaN
2942    NaN
2943    NaN
2945    NaN
2949    NaN
2952    NaN
2954    NaN
2956    NaN
2957    NaN
2959    NaN
2961    NaN
2967    NaN
2969    NaN
2976    NaN
2977    NaN
2981    NaN
2984    NaN
2985    NaN
2986    NaN
2989    NaN
2990    NaN
2991    NaN
2992    NaN
2994    NaN
2998    NaN
3000    NaN
3002    NaN
3006    NaN
3007    NaN
3009    NaN
3010    NaN
3012    NaN
3013    NaN
3018    NaN
3026    NaN
3029    NaN
3032    NaN
3033    NaN
3041    NaN
3043    NaN
3047    NaN
3051    NaN
3053    NaN
3056    NaN
3057    NaN
3060    NaN
3062    NaN
3063    NaN
3066    NaN
3067    NaN
3071    NaN
3082    NaN
3083    NaN
3090    NaN
3091    NaN
3092    NaN
3093    NaN
3094    NaN
3097    NaN
3098    NaN
3100    NaN
3101    NaN
3104    NaN
3105    NaN
3107    NaN
3108    NaN
3111    NaN
3117    NaN
3118    NaN
3119    NaN
3120    NaN
3121    NaN
3123    NaN
3124    NaN
3126    NaN
3131    NaN
3132    NaN
3133    NaN
3134    NaN
3140    NaN
3144    NaN
3148    NaN
3149    NaN
3151    NaN
3152    NaN
3153    NaN
3154    NaN
3157    NaN
3158    NaN
3159    NaN
3169    NaN
3171    NaN
3172    NaN
3173    NaN
3175    NaN
3177    NaN
3178    NaN
3179    NaN
3187    NaN
3193    NaN
3197    NaN
3203    NaN
3212    NaN
3213    NaN
3215    NaN
3221    NaN
3223    NaN
3224    NaN
3225    NaN
3226    NaN
3227    NaN
3228    NaN
3233    NaN
3237    NaN
3242    NaN
3244    NaN
3246    NaN
3247    NaN
3248    NaN
3254    NaN
3256    NaN
3257    NaN
3258    NaN
3259    NaN
3265    NaN
3267    NaN
3269    NaN
3270    NaN
3274    NaN
3275    NaN
3281    NaN
3282    NaN
3284    NaN
3285    NaN
3286    NaN
3287    NaN
3288    NaN
3289    NaN
3290    NaN
3291    NaN
3292    NaN
3293    NaN
3295    NaN
3298    NaN
3301    NaN
3302    NaN
3303    NaN
3304    NaN
3306    NaN
3311    NaN
3312    NaN
3314    NaN
3316    NaN
3317    NaN
3318    NaN
3319    NaN
3322    NaN
3323    NaN
3326    NaN
3330    NaN
3331    NaN
3336    NaN
3337    NaN
3338    NaN
3339    NaN
3341    NaN
3342    NaN
3347    NaN
3349    NaN
3350    NaN
3351    NaN
3355    NaN
3357    NaN
3359    NaN
3365    NaN
3366    NaN
3367    NaN
3368    NaN
3370    NaN
3372    NaN
3373    NaN
3374    NaN
3375    NaN
3377    NaN
3378    NaN
3379    NaN
3380    NaN
3383    NaN
3384    NaN
3386    NaN
3391    NaN
3392    NaN
3393    NaN
3394    NaN
3398    NaN
3400    NaN
3404    NaN
3405    NaN
3407    NaN
3408    NaN
3412    NaN
3413    NaN
3414    NaN
3415    NaN
3416    NaN
3418    NaN
3421    NaN
3422    NaN
3423    NaN
3425    NaN
3426    NaN
3429    NaN
3430    NaN
3431    NaN
3434    NaN
3435    NaN
3442    NaN
3453    NaN
3454    NaN
3456    NaN
3460    NaN
3461    NaN
3462    NaN
3465    NaN
3467    NaN
3470    NaN
3473    NaN
3477    NaN
3480    NaN
3482    NaN
3483    NaN
3486    NaN
3487    NaN
3488    NaN
3489    NaN
3494    NaN
3495    NaN
3496    NaN
3499    NaN
3500    NaN
3502    NaN
3504    NaN
3507    NaN
3508    NaN
3509    NaN
3512    NaN
3513    NaN
3515    NaN
3516    NaN
3521    NaN
3522    NaN
3528    NaN
3529    NaN
3535    NaN
3538    NaN
3543    NaN
3545    NaN
3550    NaN
3552    NaN
3556    NaN
3558    NaN
3568    NaN
3569    NaN
3570    NaN
3572    NaN
3576    NaN
3577    NaN
3581    NaN
3582    NaN
3583    NaN
3585    NaN
3588    NaN
3595    NaN
3602    NaN
3605    NaN
3609    NaN
3614    NaN
3616    NaN
3617    NaN
3620    NaN
3621    NaN
3623    NaN
3624    NaN
3625    NaN
3626    NaN
3627    NaN
3639    NaN
3642    NaN
3643    NaN
3647    NaN
3650    NaN
3653    NaN
3655    NaN
3658    NaN
3662    NaN
3664    NaN
3669    NaN
3674    NaN
3676    NaN
3677    NaN
3678    NaN
3682    NaN
3687    NaN
3689    NaN
3693    NaN
3694    NaN
3695    NaN
3703    NaN
3704    NaN
3705    NaN
3706    NaN
3711    NaN
3712    NaN
3718    NaN
3729    NaN
3730    NaN
3736    NaN
3744    NaN
3746    NaN
3747    NaN
3751    NaN
3754    NaN
3758    NaN
3759    NaN
3762    NaN
3764    NaN
3774    NaN
3775    NaN
3783    NaN
3784    NaN
3786    NaN
3789    NaN
3791    NaN
3792    NaN
3795    NaN
3798    NaN
3802    NaN
3808    NaN
3809    NaN
3814    NaN
3815    NaN
3816    NaN
3818    NaN
3819    NaN
3821    NaN
3822    NaN
3823    NaN
3824    NaN
3826    NaN
3835    NaN
3838    NaN
3839    NaN
3841    NaN
3845    NaN
3854    NaN
3855    NaN
3856    NaN
3859    NaN
3860    NaN
3861    NaN
3867    NaN
3871    NaN
3874    NaN
3875    NaN
3877    NaN
3886    NaN
3888    NaN
3891    NaN
3892    NaN
3893    NaN
3895    NaN
3898    NaN
3900    NaN
3909    NaN
3914    NaN
3918    NaN
3919    NaN
3921    NaN
3930    NaN
3933    NaN
3935    NaN
3936    NaN
3938    NaN
3940    NaN
3941    NaN
3948    NaN
3952    NaN
3953    NaN
3956    NaN
3957    NaN
3962    NaN
3966    NaN
3967    NaN
3969    NaN
3970    NaN
3971    NaN
3972    NaN
3977    NaN
3978    NaN
3979    NaN
3981    NaN
3987    NaN
3988    NaN
3989    NaN
3993    NaN
4004    NaN
4005    NaN
4012    NaN
4018    NaN
4023    NaN
4025    NaN
4029    NaN
4030    NaN
4031    NaN
4032    NaN
4036    NaN
4037    NaN
4038    NaN
4042    NaN
4051    NaN
4052    NaN
4053    NaN
4057    NaN
4064    NaN
4072    NaN
4076    NaN
4085    NaN
4088    NaN
4089    NaN
4090    NaN
4097    NaN
4100    NaN
4101    NaN
4102    NaN
4103    NaN
4104    NaN
4107    NaN
4109    NaN
4113    NaN
4118    NaN
4123    NaN
4124    NaN
4125    NaN
4126    NaN
4128    NaN
4129    NaN
4134    NaN
4136    NaN
4137    NaN
4138    NaN
4139    NaN
4142    NaN
4145    NaN
4148    NaN
4149    NaN
4153    NaN
4155    NaN
4165    NaN
4168    NaN
4173    NaN
4175    NaN
4176    NaN
4178    NaN
4180    NaN
4181    NaN
4183    NaN
4185    NaN
4186    NaN
4187    NaN
4188    NaN
4189    NaN
4190    NaN
4198    NaN
4199    NaN
4204    NaN
4205    NaN
4206    NaN
4208    NaN
4210    NaN
4215    NaN
4217    NaN
4219    NaN
4221    NaN
4223    NaN
4224    NaN
4229    NaN
4235    NaN
4236    NaN
4239    NaN
4240    NaN
4241    NaN
4243    NaN
4245    NaN
4248    NaN
4249    NaN
4251    NaN
4252    NaN
4254    NaN
4255    NaN
4257    NaN
4259    NaN
4261    NaN
4262    NaN
4263    NaN
4265    NaN
4266    NaN
4269    NaN
4270    NaN
4271    NaN
4272    NaN
4273    NaN
4274    NaN
4276    NaN
4280    NaN
4281    NaN
4282    NaN
4283    NaN
4288    NaN
4295    NaN
4298    NaN
4299    NaN
4301    NaN
4305    NaN
4306    NaN
4309    NaN
4310    NaN
4312    NaN
4315    NaN
4316    NaN
4317    NaN
4318    NaN
4319    NaN
4321    NaN
4326    NaN
4328    NaN
4331    NaN
4332    NaN
4334    NaN
4337    NaN
4339    NaN
4341    NaN
4342    NaN
4343    NaN
4345    NaN
4346    NaN
4347    NaN
4348    NaN
4353    NaN
4355    NaN
4359    NaN
4360    NaN
4362    NaN
4363    NaN
4364    NaN
4365    NaN
4369    NaN
4371    NaN
4372    NaN
4373    NaN
4375    NaN
4376    NaN
4378    NaN
4379    NaN
4382    NaN
4384    NaN
4386    NaN
4389    NaN
4392    NaN
4393    NaN
4394    NaN
4398    NaN
4401    NaN
4407    NaN
4408    NaN
4416    NaN
4418    NaN
4419    NaN
4421    NaN
4422    NaN
4423    NaN
4428    NaN
4430    NaN
4431    NaN
4433    NaN
4434    NaN
4435    NaN
4438    NaN
4439    NaN
4440    NaN
4442    NaN
4443    NaN
4444    NaN
4445    NaN
4448    NaN
4450    NaN
4452    NaN
4454    NaN
4457    NaN
4464    NaN
4466    NaN
4467    NaN
4468    NaN
4473    NaN
4474    NaN
4476    NaN
4479    NaN
4484    NaN
4488    NaN
4490    NaN
4493    NaN
4494    NaN
4495    NaN
4496    NaN
4497    NaN
4502    NaN
4503    NaN
4505    NaN
4506    NaN
4507    NaN
4508    NaN
4509    NaN
4511    NaN
4513    NaN
4516    NaN
4517    NaN
4520    NaN
4523    NaN
4524    NaN
4525    NaN
4526    NaN
4527    NaN
4528    NaN
4530    NaN
4531    NaN
4532    NaN
4533    NaN
4534    NaN
4535    NaN
4537    NaN
4538    NaN
4539    NaN
4540    NaN
4541    NaN
4542    NaN
4543    NaN
4545    NaN
4546    NaN
4547    NaN
4548    NaN
4549    NaN
4552    NaN
4556    NaN
4557    NaN
4558    NaN
4563    NaN
4564    NaN
4565    NaN
4566    NaN
4567    NaN
4568    NaN
4569    NaN
4573    NaN
4575    NaN
4577    NaN
4579    NaN
4580    NaN
4581    NaN
4582    NaN
4584    NaN
4586    NaN
4589    NaN
4591    NaN
4592    NaN
4593    NaN
4594    NaN
4596    NaN
4598    NaN
4599    NaN

In [68]:
# Podemos comprobar que hay bastante valor nulo, es natural que no todas las víctimas de ataque desconozcan las especies de tiburón
dc.species.fillna('unknown', inplace=True)

In [70]:
dc.head()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed:22,unnamed:23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN